.dashboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
}
.audio-player{
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 5;
    background-color: rgba($color-primary,0.4);
    width: 98vw;
    height: 50vh;
    display: flex;
    justify-content: center;
}
.audio-player div{
   max-width: 40%;
   max-height: 10rem;
   align-items: center;
   align-self: center;
}
.stop{
    margin-left: auto;
    background-color: $color-primary;
    border: 0.1rem solid $color-white;
    font-weight: bold;
    margin-bottom: 1rem;
    color: $color-white;
    width: 40%;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 1rem;
}
.card img{
  max-width: 80%;
  max-height: 70%;
}
.hide{
    display:none;
}

@media (max-width: 760px){
    .audio-player{
        width: 100vw;
        height: 100vh;
    }
    .audio-player div{
        max-width: 100%;
    }
}